<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark blue-grey scrolling-navbar ie-nav" [containerInside]="false">
  <!-- <mdb-navbar-brand>
      <a class="logo navbar-brand" href="#"><strong>Navbar</strong></a>
  </mdb-navbar-brand> -->
  <mdb-navbar-brand>
    <a class="navbar-brand" href="#">
      <img src="http://mccauley.tech/portfolio-content/icons/72.png" height="30" class="d-inline-block align-top" alt="">
      <strong> mccauley.tech</strong>
    </a>
  </mdb-navbar-brand>
  <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbWavesEffect>
            <a class="nav-link">home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link">portfolio</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link">resume</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link">contact</a>
        </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link"><i class="fa fa-codepen"></i></a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link"><i class="fa fa-free-code-camp"></i></a>
        </li>  
        <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link"><i class="fa fa-github"></i></a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link"><i class="fa fa-linkedin"></i></a>
        </li>
      </ul>
  </links>
</mdb-navbar>